#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export QT_SELECT=5

execute_before_dh_auto_build:
	for i in *.ts; do \
		lrelease $$i; \
	done

execute_after_dh_auto_install:
	mkdir -p debian/diffpdf/usr/share/icons/hicolor/64x64/apps
	cp images/icon.png debian/diffpdf/usr/share/icons/hicolor/64x64/apps/diffpdf.png

%:
	dh $@
